<% content_for :title, "archimate" %>

<div class="flex flex-col md:flex-row items-center">
  <div class="w-full md:w-3/4 h-96 md:h-screen relative">
    <%= image_tag "lp_top.jpg", alt: "archimate landing image", class: "absolute inset-0 object-cover object-top h-full w-full" %>
  </div>
  <div class="w-full md:w-144 px-4 md:pt-0 pt-4">
    <h1 class="text-3xl md:text-5xl mb-4">次はどこ行く？</h1>
    <div class="relative my-8 mb-20">
      <p>archimateは、建築を記録し、新たな建築に出会うためのプラットフォームです。<br><br>クールな建築を見つけましょう。</p>
      <div class="absolute w-full mt-6 md:mt-12 space-y-4">
        <%= link_to "会員登録する", new_user_registration_path, class: "block w-full py-3 text-center bg-second rounded-full hover:scale-105 hover:drop-shadow-lg" %>
        <%= link_to "ログインする", new_user_session_path, class: "block w-full py-3 text-center bg-white rounded-full hover:scale-105 hover:drop-shadow-lg" %>
      </div>
    </div>
  </div>
</div>
