<footer class="text-first text-sm py-4">
  <div class="container mx-auto flex flex-wrap justify-between items-center">
    <div class="w-full md:w-auto text-center md:text-left mb-3 md:mb-0">
      <p>allrights reserved by archimate 2023</p>
    </div>
    <div class="w-full md:w-auto text-center">
      <%= link_to "Privacy Policy", privacy_policy_path, class: "inline-block mr-4" %>
      <%= link_to "Terms of Use", terms_path, class: "inline-block mr-4" %>
    </div>
  </div>
</footer>
