<p><%= @email %> さま</p>

<p>
  以下のURLをクリックして、会員登録を完了してください。<br>
  うまくリンク先に移動しない場合は、URLをコピーしてブラウザのアドレスバーにペーストしてください。
</p>

<p><%= link_to nil, confirmation_url(@resource, confirmation_token: @token) %></p>

<p>引き続き、ご愛顧のほどよろしくお願い申し上げます。</p>
