<p><%= @resource.email %>さま</p>

<p>
  お使いのアカウントのパスワードのリセットが要求されました。<br>
  下のボタンをクリックしてパスワードを変更してください。
</p>

<p><%= link_to "パスワードを変更", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このリクエストにお心当たりのない場合は、このまま破棄してください。</p>
